<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServiceName" value="FileMonitorService" />
		<add key="LogFile" value="F:\FileMonitorLog.txt" />
		<add key="ServiceExecutable" value="F:\Intermech_Trainee\TraineeCS\ServiceTask16\bin\Debug\ServiceTask16.exe" />
		<add key="InstallUtil" value="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\InstallUtil.exe" />
	</appSettings>
</configuration>
